<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.demo.dao.CaijianbuMapper">

    <resultMap type="com.example.demo.bean.Caijianbu" id="caijianbu">
        <id property="id" column="id"/>
        <result property="kuanhao" column="kuanhao"/>
        <result property="cjbshuliang" column="cjbshuliang"/>
    </resultMap>

    <select id="selectByKuanhao" resultMap="caijianbu">
        select cjbshuliang from caijianbu where kuanhao=#{kuanhao}
    </select>

    <update id="update">
        update set caijianbu set cjbshuliang=#{cjbshuliang} where kuanhao=#{kuanhao}
    </update>

    <insert id="insert">
        insert into caijianbu(kuanhao,cjbshuliang) values (kuanhao=#{kuanhao},cjbshuliang=#{cjbshuliang})
    </insert>
</mapper>